<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pushing &amp; Popping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2CFF4E71C88365F002D7F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CFF5001C88365F002D7F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CFF50B1C88365F002D7F0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
